/version.h
/lbard
/fakecsmaradio
/manifesttest
/echotest
/*.dSYM
/testlog
*~
*#
.#*
include/radios.h
include/version.h
src/xfer/radio_types.c
include/message_handlers.h
src/xfer/message_handlers.c
index.html
tty.txt
status.json
lbard.monitor.*.txt
